*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(177, 177, 177);
}

header{
    padding-top: 2.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    align-self: center;
}

#contenedor__logolibiaheader{
    padding-left: 1%;
    display: flex;
    height: 180px;
    background-color: beige;
    border-radius: 50px;
    align-items: center;
}

#imagen__circularlogoheader{
    width: 12.5%;
    height: 90%;
    align-self: center;
    margin-top: 1%;
}

#imagen__header{
    width: 160%;
    height: 90%;
    border-radius: 50px;
}

#contenedor__libiaheader{
    margin-top: 0.4%;
    align-self: center;
}

#contenedor__libiaheader h1{
    font-size: 90px;
    margin-left: 12%;
}


#menu{
    
    background-color: beige;
    margin-top: 1.5%;
    height: 70px;
    width: 750px;
    border-radius: 50px;
}


















































/*MAINNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN*/


#main{
    width: 100%;
    margin-top: 5%;
    height:  1000px;
    display: flex;
    justify-content: center;
}

#titulo__maininfo{
    font-size: 50 px;
    margin-left: 3%;
    margin-top: 2%;
}


#contenedor__2{
    background-color: beige;
    border-radius: 50px;
    line-height: 2;
    height: 400px;
}


#parrafo__main{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;

}













#contenedor__imagenes{
    height: 500px;
    display: flex;
    justify-content: center;
}


#contenedor__primerafoto{
    height: 450px;
    border-radius: 25px;

}


#imagen__primerafoto{
    width: 90%;
    height: 87.5%;
    border-radius: 25px;
    margin-left: 5%;
    margin-top: -4%;
    border: solid 3px beige;
    margin-top: 7%;

}






#contenedor__segundafoto{
    height: 500px;
    border-radius: 25px;

}

#imagen__segundafoto{
    width: 90%;
    height: 87.5%;
    border-radius: 25px;
    margin-left: 5%;
    margin-top: 3.7%;
    border: solid 3px  beige;
}

















#contenedor__primerafoto{
    position: relative;

}

#contenedor__primerafoto img {
    transition: opacity 0.3s ease; /* Suaviza la transición de opacidad */
}

#contenedor__primerafoto:hover img {
    opacity: 0.5; /* Opacidad al pasar el cursor */
}

#text-overlay1{
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 24px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#contenedor__primerafoto:hover #text-overlay1{
    opacity: 1; /* El texto aparece al pasar el cursor */
}








#contenedor__segundafoto{
    position: relative;
    width: 100%;
    max-width: 600px; /* Ajusta el tamaño de la imagen */
}

#contenedor__segundafoto img {
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease; /* Suaviza la transición de opacidad */
}

#contenedor__segundafoto:hover img {
    opacity: 0.5; /* Opacidad al pasar el cursor */
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 56%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 24px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#contenedor__segundafoto:hover .text-overlay {
    opacity: 1; /* El texto aparece al pasar el cursor */
}











































/*Sectioooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooon*/


#section__mapa{
    display: flex;
    justify-content: center;
    height: 900px;
    width: 100%;
}

#contenedor__ubimapa{
    background-color: beige;
    justify-content: center;
    border-radius: 25px;
}



#section__h1ubicacion{
    font-size: 80px;
    margin-top: 30px;
}

#section__h1ubicacion{
    display: flex;
    justify-content: center;
}


#mapa{
    margin-top: 6%;
    width: 90%;
    height: 600px;
    margin-left: 5%;
    border-radius: 25px;
}















/*articleeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee*/


#article{
    margin-top: 8%;
    height: 900px;
    display: flex;
    justify-content: center;
    width: 100%;
}   

#contenedor__politica{
    background-color: beige;
    border-radius: 25px;
}


#contenedor__politca{
    font-size: 130px;
    margin-top: 6%;
    margin-left: 2%;
    
}

#h1__politica{
    font-size: 80px;
    
}




#contenedor__parrafopolitica{
    line-height: 2;
    margin-top: 3%;
    height: 550px;
    margin-left: 2%;
    margin-right: 2%;
}

#parrafo__politica{

}


#boton__article{
    width: 250px;
    background-color: beige;
    color:  rgb(177, 177, 177);
    font-size: 20px;
    border-radius: 10px;
    margin-left: 70%;
    border:  rgb(177, 177, 177) solid 2px;
}









































/*MENUUUUUUUUUU*/


#contenedor__footer1{
    display: flex;

    width: 100%;
    height: 250px;
    
}


nav{
    width: 70%;
    display: flex;
    padding-top: 1.2%;
    align-self: center;
}

nav ul{
    width: 100%;
    display: flex;
    align-self: center;
}


#ul__menu{
    width: 100%;
    display: flex;
    text-decoration: none;
    height: 30px;


}

a{
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Mantiene el color del texto circundante */
}

#contenedor__parques{
    margin-left: 110%;
}


#contenedor__footerlistado{
    margin-left: 50%;
}

.li__menu{
    display: flex;
    height: 100%;
    width: 10%;
    justify-content: center;
    font-size: 20px;
    margin-right: 2%;
    margin-left: 2%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



#footer{

    background-color: beige;


    margin-top: 10%;
    width: 100%;
    height: 250px;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    grid-template-areas: 
    'parques listado redes'
    'copy copy copy';

    grid-column-gap: 20px;


    color: black;
    

}

#contenedor__parques{
    grid-area: parques;

    margin-top: 3%;
    margin-left: 100%;
    font-size: 20px;
    display: flex;
    justify-content: center;
}


#www{
    width: 200px;
}




#contenedor__footerlistado{
    margin-top: 3%;

    grid-area: listado;
    display: flex;
    justify-content: center;
}










#contenedor__redessociales{
    grid-area: redes;
    
    flex-direction: column;
    
    margin-top: 2%;

}

#contenedor__fotosredes{
    display: flex;
    width: 12%;
    margin-left: -2.3%;
}

.imagenes__redes{
    width: 100%;
}







#contenedor__copyright{
    background-color: beige;
    grid-area: copy;
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
}


#parrafo__copyright{

}



.li__lifooter:hover{
    font-size: 20px;
}

.li__lifooter{
    width: 20px;
    height: 20px;


    margin-left: -40px;
}






