

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(177, 177, 177);
}

header {
    padding: 2.5% 2.5% 0;
}

#contenedor__logolibiaheader {
    padding-left: 1%;
    display: flex;
    height: 200px;
    background-color: white;
    border: 2px solid grey;
}

#imagen__circularlogoheader {
    width: 14%;
    height: 80%;
    align-self: center;
}

header img {
    width: 100%;
    height: 100%;
}

#contenedor__libiaheader {
    align-self: center;
}

#contenedor__libiaheader h1 {
    font-size: 100px;
}

menu {
    background-color: white;
    padding-top: 4%;
    height: 100px;
    border: 2px solid grey;
}

.img_carrusel {
    width: 100%;
    height: 100%;
}

#slider-box {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 50px;
    justify-content: center;
    grid-area: slider-box;
}

#slider-box ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 10s infinite ease-in-out;
}

#slider-box li {
    width: 100%;
    list-style: none;
    position: relative;
}

#slider-box img {
    width: 100%;
    border-radius: 20px;
}

@keyframes slide {
    0%, 20% { margin-left: 0; }
    25%, 45% { margin-left: -100%; }
    50%, 70% { margin-left: -200%; }
    75%, 100% { margin-left: -300%; }
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'slider-box texto';
    height: auto;
    width: 100%;
}

#texto {
    grid-area: texto;
    margin-top: 150px;
}

.img_danza, .img_vestimenta {
    width: 100%;
    height: 100%;
}



a{
    text-decoration: none;
    color: black;
}